html{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}
a{
   display: inline-block;
   text-decoration: none;
}
ul,
li{
   margin: 0;
   padding: 0;
   list-style: none;
}

body{
   font-family: 'Fira Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
}

.suptitle-left{
   opacity: .5;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 7.333333px;
   line-height: 32px;
   font-size: 22px;
   padding-left: 103px; 
   position: relative; 
   display: inline-block;
   &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 80px;
      left: 0;
      background-color: #fff;
      top: 50%; 
   }
}